.MuiDialog-paper {
    border-radius: 8px !important;
}


#post-input{
    border: 0 !important;
}
#post-input:focus{
    border: 0 !important;
}
#post-input:focus-visible{
    border: 0 !important;
}
#post-input:focus-within{
    border: 0 !important;
}
.input-field {
    margin:0;
}
.MuiDialog-paperWidthSm {
    width: 500px;
}